*{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Acme', sans-serif;
}

nav {
    background: #004970;
    position: fixed;
    height: 8vh;
    width: 100%;
    top: 0;
    z-index: 100;
    transition: all 1s;
}
label.logo {
    vertical-align: top;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 8vh;
    color: rgb(226, 226, 226);
    margin-left: 5%;
    height: 100%;
}
.logo a{
  color: rgb(226, 226, 226) !important;
  text-decoration: none;
}
.logo a p{
    margin: 0;
    color: rgb(226, 226, 226);
}
nav ul {
    float: right;
    display: flex;
    margin: 0;
    margin-right: 5%;
    height: 8vh;

}
nav ul li {
    list-style: none;
    height: 8vh;
}
nav ul li a p {
    display: inline-block;
    margin: 0 5px;
    border-radius: .8rem;
    letter-spacing: 2px;
    vertical-align: top;
    height: 8vh;
    padding-top: 2.4vh;
}
nav ul li a {
    font-size: 17px;
    text-transform: uppercase;
    padding: 0 13px;
    border-radius: 3px;
    color: rgb(226, 226, 226);
    height: 8vh;
}
nav ul li a:hover {
    color:#3475ca;
}
.burger {
    display: none;
    cursor: pointer;
    float: right;
    margin-right: 3%;
    margin-top: 2vh;
}
.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}
.nav-active {
    transform: translateX(10%);
}
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
.scrolled {
    background-color: #3475ca;
}


.banner{
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100vh;
  background: #3475ca;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  transform: rotateY(-4rem);
}

.banner_background{
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.25;
  background-attachment: fixed;
}

.logoimg{
  height: 100px;
  width: 100px;
}

.banner .content{
  position: relative;
  max-width: 750px;
  text-align: center;
  color: white;
  font-weight: 1000;
}

.banner .content{
  font-size: 50px;
}

.aboutus{
  margin: 30px 0px;
  padding: 50px 0px;
}

.aboutus .heading{
  margin-top: 20px;
}

.parallax{
  height: 500px;
  background-image: url("parallax.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.75;
  position: relative;
  display: flex;
}

.parallax .content{
  width: 30%;
  min-height: 500px;
  margin-left: 70%;
  background: rgba(54, 111, 255, 0.7);
  z-index: 100;
  padding: 5%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
}

.parallax .content .heading{
  margin: 20px;
}

.features .heading{
  margin-top: 20px;
  padding: 20px 0px;
  text-align: center;
  justify-content: center;
}

.features .revoice{
  margin-top: 60px;
  align-items: center;
  justify-content: center;
}

.revoice-img{
  text-align: center;
  align-items: center;
  justify-content: center;
}

.revoice-img img{
  height: 100%;
  width: 50vh;
  margin: auto;
}

#revoice-button{
  color: white;
  padding: 15px 10px;
  background: rgba(54, 111, 255, 0.7);
  display: inline-block;
  border-radius: .8rem;
}

.features .texttospeech{
  margin-top: 70px;
}

.texttospeech .text-content{
  text-align: right;
}

.footer{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  background: #004970;
  color: white;
  margin-top: 60px;
}

.cards_section{
  margin: 2rem 5rem;
}

.view{
height: 550px;
margin: 10px;
border: 10px solid #fff;
overflow: hidden;
position: relative;
text-align: center;
box-shadow: 1px 1px 2px #e6e6e6;
cursor: default;
background: #fff no-repeat center center
}
.view .mask, .view .content{
height: 550px;
position: absolute;
overflow: hidden;
top: 0;
left: 0
}
.view img {
display: block;
position: relative;
height: 100%;
}
.view h2 {
text-transform: uppercase;
color: #fff;
text-align: center;
position: relative;
font-size: 30px;
padding: 10px;
background: rgba(0, 0, 0, 0.8);
margin: 20px 0 0 0
}
.view p {
font-style: italic;
font-size: 20px;
position: relative;
color: #fff;
padding: 10px 20px 20px;
text-align: center
}
.view a.info {
display: inline-block;
text-decoration: none;
padding: 7px 14px;
background: #000;
color: #fff;
text-transform: uppercase;
box-shadow: 0 0 1px #000
}
.view a.info:hover {
box-shadow: 0 0 5px #000
}

.view-first img {
    transition: all 0.2s linear;
}
.view-first .mask {
    opacity: 0;
    background: linear-gradient(to right, rgba(79, 172,254, .8), rgba(0, 242, 254, .8));
    transition: all 0.4s ease-in-out;
}
.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first p {
    transform: translateY(100px);
    opacity: 0;
	transition: all 0.2s linear;
}
.view-first a.info{
    opacity: 0;
	transition: all 0.2s ease-in-out;
}

.view-first:hover img {
	transform: scale(1.1);
}
.view-first:hover .mask {
	opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover p {
    transition-delay: 0.1s;
}
.view-first:hover a.info {
    transition-delay: 0.2s;
}

@media only screen and (max-width: 700px){
  .cards_section{
    margin: 2rem 1rem;
  }
  .parallax .content{
    width: 100%;
    margin-left: 0;
  }
  .footer h5{
    font-size: 15px;
  }
  .revoice-img img{
    margin: 40px 0px;
  }
  .banner .content{
    font-size: 30px;
  }
}

@media only screen and (max-width: 1200px) {
    body {
        overflow-x: hidden;
    }
    nav {
        background: #004970;
    }
    nav ul {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background: #3475ca !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        transform: translateX(110%);
        transition: transform 0.5s ease-in;
    }
    nav ul li {
        opacity: 0;
        margin: 20px;
    }
    nav ul li a:hover {
        color: #004970;
    }
    .burger {
        display: block;
    }
    .teams {
        margin: 30px 8%;
    }
    .car:hover .cover{
        font-size: 9px;
        top: 3vh;
    }
}

@media only screen and (max-width: 500px) {
    nav {
        background: #004970;
    }
    label.logo {
        font-size: 15px;
        height: 100%;
    }
}

@media screen and (min-height: 1000px ){
  nav ul li a p {
        font-size: 30px;
  }
  nav ul li {
      opacity: 0;
      margin: 40px;
  }
}

@media screen and (max-height: 420px){
  nav{
        height: 12vh;
    }
    label.logo {
        font-size: 20px;
        margin-bottom: 0;
        margin-top: 0;
        height: 100%;
        padding-top: 2vh;
    }
    .logo{
        vertical-align: middle;
    }
    .main{
        padding-top: 0;
    }
    .burger div {
        height: 2.5px;
    }
    .burger{
        margin-top: 2vh;
    }
    nav ul{
        top: 12vh;
        height: 88vh;
    }
    nav ul li {
        opacity: 0;
        margin: 14px;
    }
}

/********************************************************************************************/

.ocr_form{
  margin-top: 10vh;
}

.ocr_form .submit-button{
  border: none;
  color: white;
  padding: 15px 10px;
  background: rgba(54, 111, 255, 0.7);
  display: inline-block;
  border-radius: .8rem;
}

.ocr_output{
  margin-top: 10vh;
}

.ocr_output button{
  border: none;
  color: white;
  padding: 20px;
  margin: 20px;
  background: rgba(54, 111, 255, 0.7);
  display: inline-block;
  border-radius: .8rem;
}
