{% extends 'eportal/base.html' %}
{% load static %}
{% block content %}
<button onclick="speakcommand()" id="myBtn" title="Voice Controller"><i class="fas fa-microphone"></i></button>
<div class="banner">
    <img class="banner_background" src="{% static 'images/landing.jpg' %}" alt="">
    <div class="content">
        <h1 data-aos="fade-down" data-aos-duration="1000">Saarthi</h1>
        <p data-aos="fade-up" data-aos-duration="1000">An online education portal for the visually impaired</p>
    </div>
</div>

<div class="aboutus">
    <div class="container">
        <div class="heading">
            <h1 data-aos="fade-right" data-aos-delay="50">About Saarthi</h1>
        </div>
        <div class="aboutcont">
            <p data-aos="fade-right" data-aos-delay="100">Majority of education and textbooks never reach the visually impaired, leaving them behind in the lore of literacy. Introducing SAARTHI, a platform for the education of visually impaired. During this period of pandemic the visually impaired don’t have any kind of access to Physical education. Hence,  a need of a portal arises via which these people could continue their education. With SAARTHI we want to give them the right to education. These people who are left out, will get the resources and the opportunity to gain knowledge from all the available text books out there. This is a school of hard knocks with a ride in the short bus. This just doesn’t stick to this pandemic period, rather it also extends to help out those children as well who are not in an able condition to move to their place of education.</p>
            <p data-aos="fade-right" data-aos-delay="100">“It shouldn’t matter how slowly some children learn as long as we are encouraging them not to stop.” – Robert John Meehan</p>
        </div>
    </div>
</div>

<div class="cards_section">
    <div class="row">
        <div class="col-md-12 col-lg-4">
            <div class="view view-first" data-aos="zoom-out-left" data-aos-delay="50" data-aos-duration="1500">
                <img src="{% static 'images/card1.jpg' %}" />
                <div class="mask">
                    <h2>WHY</h2>
                    <p>To help the Visually Impaired Students continue their education from any remote location and get access to the right to education. The kids should not feel that education is a chore, rather should feel it is a game of fun.</p>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-4">
            <div class="view view-first" data-aos="zoom-out-up" data-aos-delay="100" data-aos-duration="1500">
                <img src="{% static 'images/card2.jpg' %}" />
                <div class="mask">
                    <h2>NEED</h2>
                    <p>Education is vital for the development of any country. It provides change in the society and empowers people to achieve the impossible. We believe no one should be limited by their physical conditions to bring empowerment, as every mind is exceptional and equally curious.</p>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-4">
            <div class="view view-first" data-aos="zoom-out-right" data-aos-delay="150" data-aos-duration="1500">
                <img src="{% static 'images/card3.jpg' %}" />
                <div class="mask">
                    <h2>FOR</h2>
                    <p>We primarily focus on the visually impaired students, but it also helps those who have a difficulty in hearing and speaking as well.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="parallax pic">
    <div class="content" data-aos="fade-up">
        <div class="heading" data-aos="fade-up" data-aos-delay="50" data-aos-duration="1000">
            <h1>ReVoice</h1>
        </div>
        <div class="descr" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
            <p>A tool for the visually impaired, in their journey of accomplishments. Revoice will convert any material from a book to an audiobook. Now they never have to miss out on any knowledge, from the bed times stories to the Shakespeare’s lore.
            </p>
        </div>
    </div>
</div>

<div class="features">
    <div class="heading" data-aos="fade-right" data-aos-delay="50" data-aos-duration="1000">
        <h1>FEATURES</h1>
    </div>

    <div class="revoice">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="revoice-img" data-aos="fade-right" data-aos-delay="50" data-aos-duration="1000">
                        <img src="{% static 'images/revoice.svg' %}" alt="revoice">
                    </div>
                </div>
                <div class="col-12 col-md-6" data-aos="fade-left" data-aos-delay="50" data-aos-duration="1000">
                    <h1>Revoice</h1>
                    <br>
                    <p>A tool for the visually impaired, in their journey of accomplishments. Revoice will convert any material from a book to an audiobook. Now they never have to miss out on any knowledge, from the bed times stories to the Shakespeare’s lore.</p>
                    <br>
                    <a href="{% url 'eportal:ocr_page' %}">
                        <p id="revoice-button">Discover More</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="texttospeech">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6" data-aos="fade-right" data-aos-delay="100" data-aos-duration="1000">
                    <div class="text-content">
                        <h1>Speech To Text</h1>
                        <br>
                        <p>Never need to worry about writing, with this tool we want to empower these young minds to write what is in their mind through their voice. The tool will convert your voice to text.</p>
                        <br>
                        <a href="{% url 'eportal:synthesizer' %}">
                            <p id="revoice-button">Discover More</p>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="revoice-img" data-aos="fade-left" data-aos-delay="100" data-aos-duration="1000">
                        <img src="{% static 'images/speech-to-text.svg' %}" alt="speech-to-text">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="revoice">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="revoice-img" data-aos="fade-right" data-aos-delay="150" data-aos-duration="1000">
                        <img src="{% static 'images/write.svg' %}" alt="speechtotext">
                    </div>
                </div>
                <div class="col-12 col-md-6" data-aos="fade-left" data-aos-delay="150" data-aos-duration="1000">
                    <h1>Text To Speech</h1>
                    <br>
                    <p>A tool for people who cannot speak, imparting them a voice to express their views. </p>
                    <br>
                    <a href="{% url 'eportal:synthesizer' %}">
                        <p id="revoice-button">Discover More</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="texttospeech">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6" data-aos="fade-right" data-aos-delay="200" data-aos-duration="1000">
                    <div class="text-content">
                        <h1>Voice Controllable Portal</h1>
                        <br>
                        <p>This feature will allow the people to navigate the website and excess all the tools which provide education to them. Giving a seamless experience to the people. </p>
                        <br>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="revoice-img" data-aos="fade-left" data-aos-delay="200" data-aos-duration="1000">
                        <img src="{% static 'images/websites.svg' %}" alt="speech-to-text">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="footer">
    <h5>Made in HackUMBC 2020 by team index.html</h5>
</div>
<script src="{% static 'js/home_page.js' %}"></script>
{% endblock %}
