{% extends 'eportal/base.html' %}
{% load static %}
{% block content %}

<div class="banner">
      <img class="banner_background" src="{% static 'images/landing.jpg' %}" alt="">
      <div class="content">
        <h1>Saarthi</h1>
        <p>An online education portal for the visually impaired</p>
      </div>
    </div>

    <div class="aboutus">
      <div class="container">
        <div class="heading">
          <h1>About Saarthi</h1>
        </div>
        <div class="aboutcont">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>

    <div class="cards_section">
      <div class="row">
        <div class="col-md-12 col-lg-4">
          <div class="view view-first" data-aos="fade-left" data-aos-delay="50" data-aos-duration="2500">
            <img src="{% static 'images/card1.jpg' %}" />
            <div class="mask">
              <h2>General Students</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <div class="view view-first" data-aos="fade-up" data-aos-delay="100" data-aos-duration="2500">
            <img src="{% static 'images/card2.jpg' %}" />
            <div class="mask">
              <h2>General Students</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <div class="view view-first" data-aos="fade-right" data-aos-delay="150" data-aos-duration="2500">
            <img src="{% static 'images/card3.jpg' %}" />
            <div class="mask">
              <h2>General Students</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="parallax pic">
      <div class="content">
        <div class="heading">
          <h1>ReVoice</h1>
        </div>
        <div class="descr">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
    </div>

    <div class="features">
      <div class="heading">
        <h1>FEATURES</h1>
      </div>

      <div class="revoice">
        <div class="container">
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="revoice-img">
            <img src="{% static 'images/revoice.svg' %}" alt="revoice">
            </div>
          </div>
          <div class="col-12 col-md-6">
            <h1>Revoice</h1>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            <br>
            <a href="#"><p id="revoice-button">Discover More</p></a>
          </div>
        </div>
        </div>
      </div>

      <div class="texttospeech">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="text-content">
              <h1>Speech To Text</h1>
              <br>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
              <br>
              <a href="#"><p id="revoice-button">Discover More</p></a>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="revoice-img">
                <img src="{% static 'images/speech-to-text.svg' %}" alt="speech-to-text">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="revoice">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="revoice-img">
                <img src="{% static 'images/write.svg' %}" alt="speechtotext">
              </div>
            </div>
            <div class="col-12 col-md-6">
              <h1>Text To Speech</h1>
              <br>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
              <br>
              <a href="#"><p id="revoice-button">Discover More</p></a>
            </div>
          </div>
        </div>
      </div>

      <div class="texttospeech">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="text-content">
              <h1>Voice Controllable Portal</h1>
              <br>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
              <br>
              <a href="#"><p id="revoice-button">Discover More</p></a>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="revoice-img">
                <img src="{% static 'images/websites.svg' %}" alt="speech-to-text">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <h5>Made in HackUMBC 2020 by team index.html</h5>
    </div>


{% endblock %}
