{% extends 'eportal/base.html' %}
{% load static %}
{% block content %}

<div class="ocr_form">
  <div class="container">
  <h1>Revoice</h1>
  <p>Ocr based feature to convert your uploaded pdf file into audio book.</p>
  <br>
 <form action="{% url 'eportal:ocr_output' %}" method="post" enctype="multipart/form-data" >
   {% csrf_token %}
   <p>Upload File (Max-pages: 10): <input type="file" name="ocr_file"> </p>
   <br>
   <input type="submit" name="" value="submit" class="submit-button">
 </form>
</div>
</div>

{% endblock %}

<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <form action="{% url 'eportal:ocr_output' %}" method="post" enctype="multipart/form-data" >
          {% csrf_token %}
          <p>Upload File: <input type="file" name="ocr_file"> </p>
          <br>
          <input type="submit" name="" value="submit">
        </form>
    </body>
</html> -->
