{% extends 'eportal/base.html' %}
{% load static %}
{% block content %}
<script src="{% static 'js/annyang.min.js' %}"></script>

<div class="ocr_output">
    <div class="container">
        <pre class="text_output" id="text_output">{{ output }}</pre>
        <button type="button" onclick="textToAudio()">Speak</button>
        <button type="button" onclick="pauseAudio()">Pause</button>
        <button type="button" onclick="resumeAudio()">Resume</button>
        <button type="button" onclick="cancelAudio()">Stop</button>
    </div>
</div>

<script src="{% static 'js/ocr_read.js' %}"></script>

{% endblock %}
