{% extends 'eportal/base.html' %}
{% load static %}
{% block css_content %}
<link rel="stylesheet" href="{% static 'css/ocr_form.css' %}">
{% endblock %}
{% block content %}
<button onclick="speakcommand()" id="myBtn" title="Voice Controller"><i class="fas fa-microphone"></i></button>
<div class="banner">
    <img class="banner_background" src="{% static 'images/ocr_form.jpg' %}" alt="">
    <div class="content">
        <div class="ocr_form">
            <div class="container">
                <h1>Revoice</h1>
                <p>Ocr based feature to convert your uploaded pdf file into audio book.</p>
                <br>
                <form action="{% url 'eportal:ocr_output' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="file">Upload File (Max-pages: 10):</label>
                    <input type="file" id="file" name="ocr_file" accept="application/pdf" />
                    <br>
                    <input type="submit" name="" value="submit" class="submit-button" id="submit">
                </form>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/ocr_form.js' %}"></script>
{% endblock %}
