{% extends 'eportal/base.html' %}
{% load static %}
{% block css_content %}
<link rel="stylesheet" href="{% static 'css/our_vision.css' %}" />
{% endblock %}
{% block content %}
<button onclick="speakcommand()" id="myBtn" title="Voice Controller"><i class="fas fa-microphone"></i></button>
<div class="our_vision">
    <div class="our_vision_heading" data-aos="fade-right" data-aos-delay="50" data-aos-duration="1000">
        <h1>Our Vision</h1>
    </div>
    <div class="our_content">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="vision-img" data-aos="fade-right" data-aos-delay="50" data-aos-duration="1000">
                        <img src="{% static 'images/vision.svg' %}" alt="revoice">
                    </div>
                </div>
                <div class="col-12 col-md-6" data-aos="fade-left" data-aos-delay="50" data-aos-duration="1000">
                    <h1>What we See</h1>
                    <br>
                    <p>As Malala Yousafzai has said, “One child, one teacher, one pen and one book can change the world.” We want to be part of that change, doing our bit. Most people see what is, and never see what can be. In this world, many of the young minds are left behind, no one telling them that there is no such thing as a stupid question. Unable to search for the answers of those, We want to change that. Giving a platform for these beautiful minds that are unable to see the artistry of life, missing out on those fantasies which our childhood has gone by reading.
                    </p>
                    <p>With this platform our aim is to give these young kids a chance to experience the same which you and I have experienced in our childhood. They never need to let go or compromise on the knowledge needed to learn, knowing that there is a SAARTHI (A Companion).</p>
                    <p>We wish to light a beacon of hope for these kids, to let them accomplish and experience the mystifying journey, that is our life</p>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/our_vision.js' %}"></script>

{% endblock %}
